<section class="hbox stretch">
  <!-- .aside -->
  <aside class="bg-dark aside-sm" id="nav">
    <section class="vbox">
      <header class="dker nav-bar">
        <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
          <i class="fa fa-bars"></i>
        </a>
        <a href="#" class="nav-brand" data-toggle="fullscreen"><i class="fa fa-plane"></i></a>
        <a href="https://tryblocks.com" class="btn btn-link visible-xs">
          <i class="fa fa-external-link"></i>
        </a>
      </header>
      <section class="w-f">

        <nav class="nav-primary hidden-xs">
          <ul class="nav">
            <li class="active">
              <a href="index.html">
                <i class="fa fa-briefcase"></i>
                <span>Checklist</span>
              </a>
            </li>
            <li>
              <a href="discover.html">
                <i class="fa fa-eye"></i>
                <span>Discover</span>
              </a>
            </li>
            <li>
              <a href="tasks.html">
                <i class="fa fa-tasks"></i>
                <span>To do</span>
              </a>
            </li>
            <li>
              <a href="notes.html">
                <i class="fa fa-pencil"></i>
                <span>Notes</span>
              </a>
            </li>
          </ul>
        </nav>
      </section>
      <footer class="footer bg-gradient hidden-xs">
        <a href="modal.lockme.html" data-toggle="ajaxModal" class="btn btn-sm btn-link m-r-n-xs pull-right">
          <i class="fa fa-cog"></i>
        </a>
        <a href="#nav" data-toggle="class:nav-vertical" class="btn btn-sm btn-link m-l-n-sm">
          <i class="fa fa-bars"></i>
        </a>
      </footer>
    </section>
  </aside>
  <!-- /.aside -->
  <!-- .vbox -->
  <section id="content">
    <section class="vbox">
      <header class="header bg-light bg-gradient b-b">
        <p>Checklist</p>
      </header>
      <section class="scrollable wrapper">
        <div class="">
          <ul class="list-group gutter list-group-lg list-group-sp sortable">
            <li class="list-group-item" draggable="true">
              <a href="#" class="pull-right" data-dismiss="alert"><i class="fa fa-check"></i></a>
              <span class="pull-left media-xs"><i class="fa fa-sort text-muted fa-sm"></i> 01</span>
              <div class="clear">
                Check web copy
              </div>
            </li>
            <li class="list-group-item" draggable="true">
              <a href="#" class="pull-right" data-dismiss="alert"><i class="fa fa-check"></i></a>
              <span class="pull-left media-xs"><i class="fa fa-sort text-muted fa-sm"></i> 02</span>
              <div class="clear">
                Check images and video
              </div>
            </li>
            <li class="list-group-item" draggable="true">
              <a href="#" class="pull-right" data-dismiss="alert"><i class="fa fa-check"></i></a>
              <span class="pull-left media-xs"><i class="fa fa-sort text-muted fa-sm"></i> 03</span>
              <div class="clear">
                Test all links
              </div>
            </li>
            <li class="list-group-item" draggable="true">
              <a href="#" class="pull-right" data-dismiss="alert"><i class="fa fa-check"></i></a>
              <span class="pull-left media-xs"><i class="fa fa-sort text-muted fa-sm"></i> 04</span>
              <div class="clear">
                Ensure no testing remains
              </div>
            </li>
            <li class="list-group-item" draggable="true">
              <a href="#" class="pull-right" data-dismiss="alert"><i class="fa fa-check"></i></a>
              <span class="pull-left media-xs"><i class="fa fa-sort text-muted fa-sm"></i> 05</span>
              <div class="clear">
                Functionality assessment
              </div>
            </li>
            <li class="list-group-item" draggable="true">
              <a href="#" class="pull-right" data-dismiss="alert"><i class="fa fa-check"></i></a>
              <span class="pull-left media-xs"><i class="fa fa-sort text-muted fa-sm"></i> 06</span>
              <div class="clear">
                Browser testing
              </div>
            </li>
            <li class="list-group-item" draggable="true">
              <a href="#" class="pull-right" data-dismiss="alert"><i class="fa fa-check"></i></a>
              <span class="pull-left media-xs"><i class="fa fa-sort text-muted fa-sm"></i> 07</span>
              <div class="clear">
                Complete all meta tags and URLs
              </div>
            </li>
            <li class="list-group-item" draggable="true">
              <a href="#" class="pull-right" data-dismiss="alert"><i class="fa fa-check"></i></a>
              <span class="pull-left media-xs"><i class="fa fa-sort text-muted fa-sm"></i> 08</span>
              <div class="clear">
                Performance testing
              </div>
            </li>
            <li class="list-group-item" draggable="true">
              <a href="#" class="pull-right" data-dismiss="alert"><i class="fa fa-check"></i></a>
              <span class="pull-left media-xs"><i class="fa fa-sort text-muted fa-sm"></i> 09</span>
              <div class="clear">
                Analytics installation
              </div>
            </li>
            <li class="list-group-item" draggable="true">
              <a href="#" class="pull-right" data-dismiss="alert"><i class="fa fa-check"></i></a>
              <span class="pull-left media-xs"><i class="fa fa-sort text-muted fa-sm"></i> 10</span>
              <div class="clear">
                Sitemap and Webmaster Tools
              </div>
            </li>
            <li class="list-group-item" draggable="true">
              <a href="#" class="pull-right" data-dismiss="alert"><i class="fa fa-check"></i></a>
              <span class="pull-left media-xs"><i class="fa fa-sort text-muted fa-sm"></i> 11</span>
              <div class="clear">
                Security and backup
              </div>
              </li><li class="list-group-item" draggable="true">
                <a href="#" class="pull-right" data-dismiss="alert"><i class="fa fa-check"></i></a>
                <span class="pull-left media-xs"><i class="fa fa-sort text-muted fa-sm"></i> 12</span>
                <div class="clear">
                  Launch
                </div>
              </li>

          </ul>
        </div>
      </section>
    </section>
  </section>
  <!-- /.vbox -->
</section>

