<section class="hbox stretch">
  <%= render partial: 'aside' %>

  <!-- .vbox -->
  <section id="content">
    <section class="vbox">
      <header class="header bg-light bg-gradient b-b">
        <p>项目列表</p>
      </header>

      <section class="scrollable wrapper">
        <div class="">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>名称</th>
                <th>分类</th>
                <th>阶段</th>
                <th>阶段进度</th>
                <th>当前任务</th>
                <th>执行人</th>
                <th>等待时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Project 1</td>
                <td>测试</td>
                <td>准备期</td>
                <td>1/4</td>
                <td>准备《产品合同文件》</td>
                <td>@wendi</td>
                <td>30 mins</td>
                <td><a href='#'>进入项目</a></td>
              </tr>
              <tr>
                <td>Project 2</td>
                <td>上线</td>
                <td>准备期</td>
                <td>2/4</td>
                <td>制作《产品销售计划表》</td>
                <td>@jingjing</td>
                <td>30 mins</td>
                <td><a href='#'>进入项目</a></td>
              </tr>
              <tr>
                <td>Project 3</td>
                <td>上线</td>
                <td>募集期</td>
                <td>2/3</td>
                <td>发送《交易确认文件》</td>
                <td>@jingdong</td>
                <td>50 mins</td>
                <td><a href='#'>进入项目</a></td>
              </tr>
              <tr>
                <td>Project 4</td>
                <td>上线</td>
                <td>存续期</td>
                <td>2/3</td>
                <td>产品起息</td>
                <td></td>
                <td>210 days</td>
                <td><a href='#'>进入项目</a></td>
              </tr>
            </tbody>
          </table>

          </div>
        </section>

    </section>
  </section>
  <!-- /.vbox -->
</section>

