<section class="hbox stretch">
  <%= render partial: 'aside' %>

  <!-- .vbox -->
  <section id="content">
    <section class="vbox">
      <header class="header bg-light bg-gradient b-b">
        <p></p>
      </header>

      <section class="scrollable wrapper">
        <div class="">
          <div class="panel-group" id="accordion-stage1" role="tablist" aria-multiselectable="true">
            <% # Stage %>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading-stage1" data-toggle="collapse" data-parent="#accordion-stage1" href="#stage1" aria-expanded="true" aria-controls="stage1">
                <h4 class="panel-title">
                  准备期
                </h4>
              </div>
              <div id="stage1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-stage1">
                <div class="panel-body">

                  <% # Task %>
                  <div class="panel-group" id="accordion-stage1-task1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="heading-stage1-task1" data-toggle="collapse" data-parent="#accordion-stage1-task1" href="#stage1-task1" aria-expanded="true" aria-controls="stage1-task1">
                        <h5 class="panel-title">
                          任务1 - 广交所上传准备文件
                        </h5>
                      </div>

                      <div id="stage1-task1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-stage1-task1">
                        <div class="panel-body">

                          <% # Step %>
                          <div class="panel-group" id="accordion-stage1-task1-step1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="heading-stage1-task1-step1" data-toggle="collapse" data-parent="#accordion-stage1-task1-step1" href="#stage1-task1-step1" aria-expanded="true" aria-controls="stage1-task1-step1">
                                <h6 class="panel-title">
                                  上传《产品信息表》
                                </h6>
                              </div>
                              <div id="stage1-task1-step1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-stage1-task1-step1">
                                <div class="panel-body">
                                  <p>guangjiaosuo_产品信息表_20150428.xlsx</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="panel-group" id="accordion-stage1-task1-step2" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="heading-stage1-task1-step2" data-toggle="collapse" data-parent="#accordion-stage1-task1-step2" href="#stage1-task1-step2" aria-expanded="true" aria-controls="stage1-task1-step2">
                                <h6 class="panel-title">
                                  上传《产品合同模板》
                                </h6>
                              </div>
                              <div id="stage1-task1-step2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-stage1-task1-step2">
                                <div class="panel-body">
                                  <p>guangjiaosuo_产品合同模板_20150428.html</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="panel-group" id="accordion-stage1-task1-step3" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="heading-stage1-task1-step3" data-toggle="collapse" data-parent="#accordion-stage1-task1-step3" href="#stage1-task1-step3" aria-expanded="true" aria-controls="stage1-task1-step3">
                                <h6 class="panel-title">
                                  上传《合同可修改字段》
                                </h6>
                              </div>
                              <div id="stage1-task1-step3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-stage1-task1-step3">
                                <div class="panel-body">
                                  <p>合同可修改字段.docx</p>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel-group" id="accordion-stage1-task2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="heading-stage1-task2" data-toggle="collapse" data-parent="#accordion-stage1-task2" href="#stage1-task2" aria-expanded="true" aria-controls="stage1-task2">
                        <h5 class="panel-title">
                          任务2 - 开通制作相关文件，并上传给京东
                        </h5>
                      </div>
                      <div id="stage1-task2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-stage1-task2">
                        <div class="panel-body">

                          <div class="panel-group" id="accordion-stage1-task2-step1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="heading-stage1-task2-step1" data-toggle="collapse" data-parent="#accordion-stage1-task2-step1" href="#stage1-task2-step1" aria-expanded="true" aria-controls="stage1-task2-step1">
                                <h6 class="panel-title">
                                  @jingjing 制作《产品发布文件》，并上传至京东
                                </h6>
                              </div>
                              <div id="stage1-task2-step1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-stage1-task2-step1">
                                <div class="panel-body">
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="panel-group" id="accordion-stage1-task2-step2" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="heading-stage1-task2-step2" data-toggle="collapse" data-parent="#accordion-stage1-task2-step2" href="#stage1-task2-step2" aria-expanded="true" aria-controls="stage1-task2-step2">
                                <h6 class="panel-title">
                                  @wendi 制作《产品合同文件》，并上传至京东
                                </h6>
                              </div>
                              <div id="stage1-task2-step2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-stage1-task2-step2">
                                <div class="panel-body">
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel-group" id="accordion-stage1-task3" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="heading-stage1-task3" data-toggle="collapse" data-parent="#accordion-stage1-task3" href="#stage1-task3" aria-expanded="true" aria-controls="stage1-task3">
                        <h5 class="panel-title">
                          任务3 - 开通制作相关文件，并上传给广交所
                        </h5>
                      </div>
                      <div id="stage1-task3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-stage1-task3">
                        <div class="panel-body">

                          <div class="panel-group" id="accordion-stage1-task3-step1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="heading-stage1-task3-step1" data-toggle="collapse" data-parent="#accordion-stage1-task3-step1" href="#stage1-task3-step1" aria-expanded="true" aria-controls="stage1-task3-step1">
                                <h6 class="panel-title">
                                  @jingjing 制作《产品销售计划表》，并上传至京东
                                </h6>
                              </div>
                              <div id="stage1-task3-step1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-stage1-task3-step1">
                                <div class="panel-body">
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="panel-group" id="accordion-stage1-task3-step2" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="heading-stage1-task3-step2" data-toggle="collapse" data-parent="#accordion-stage1-task3-step2" href="#stage1-task3-step2" aria-expanded="true" aria-controls="stage1-task3-step2">
                                <h6 class="panel-title">
                                  @wendi 制作《产品合同文件》，并上传至京东
                                </h6>
                              </div>
                              <div id="stage1-task3-step2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-stage1-task3-step2">
                                <div class="panel-body">
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h4 class="panel-title">
                  募集期
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h4 class="panel-title">
                  起息日
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <h4 class="panel-title">
                  到期日
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </section>

    </section>
  </section>
  <!-- /.vbox -->
</section>

