.vbox {
  header {
    .flash-notice {
      color: #337ab7
    }
    .flash-alert {
      color: #a94442
    }
  }

  table {
    .project-delete {
      display: none
    }
    .project-edit {
      position: relative;
      right: 5px;
      display: none
    }
  }
}
