.baton-step-list{
  .fa-check {
    color: green
  }

  .error-message {
    margin-bottom: 0;
    position: relative;
    left:8px;
    color: #a94442;
  }

  .step-result {
    margin-top: 10px
  }

  .step-param {
    position: relative;
    right: 10px;
    bottom: 2px;
  }
  .param-date {
    line-height: 8px;
  }

  .step-status {
    .fa-check: {
      color: green
    }

    .failed {
      color: #a94442
    }
  }

  .fileupload-buttonbar{
    margin-right: 2px;
  }

}
